*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.wallpapic.com/i4265-833-817/medium/galaxy-pink-purple-nebula-wallpaper.jpg");
    
}
:root{
    --white-color: white;
}
.container{
    text-align: center;
    margin-top: 12rem
}
.display-1 {
        color: var(--white-color);
        font-family: 'Rubik', sans-serif;
        font-size: 4.25rem;
        font-weight: 800;
 }
 .btn{
    padding:1rem 3rem;
    border-radius: 30px;
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
    font-weight: bold;
    font-size: 1.023rem;
    
 }
 .btn-flex{
    display: flex;
gap: 20px;
justify-content: center;
    align-items: center;
 }
 .btn:hover{
    background-color: var(--white-color);
    color: black;
 }
 .arrow {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.arrow > a > i {
    position: absolute;
    top: 3px;
    left: 18px;
    font-size: 3rem;
    color: var(--white-color);
    animation: jumpInfinite 5s infinite;
    font-size: 2rem;
}
@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
