#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .game_box{
    background-image: url("https://t3.ftcdn.net/jpg/00/75/01/20/360_F_75012013_AgwehxPS8JgcZ15TAZZZHC45dZtje4bf.jpg");
    background-size: cover;
    height: 35rem;
    width: 55rem;
    position: relative;
    margin-left: 11rem;

  }
  .footer{
    display: flex;
    justify-content:space-around;
    align-items:center;
    color: yellow;
    font-size: 1.1rem;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 0.3rem;
    position: absolute; 
    top: 520px;
    width: 100%;
  }
  .pause_btn{
    font-size: 2.5rem;
    padding:0 1rem ;
  }
  .gameContent{
     position: relative; 
    margin: 0 auto 0 auto;
    height: 600px;
    width: 100%;
/* border: 10px solid aqua; */
  }
  
